body{
    background-color: #a9baae;
    font-family: 'Rubik', sans-serif;
} 

h1,h3{
    color: #231b42;
}

p{
    color: #281a1a;  
}

ul{
    color: #281a1a;
}

.box{
    display:flex; flex-direction: row; justify-content: center;
}
div{
    background-color: #5b9b9a;
    width: 350px;
    height: 150px;

    border-radius: 10%;
    border-style: groove;
    border-color:#d55c2b ;

}

.borda{
    border-radius: 100%;
}